body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.input-container {
    margin-bottom: 20px;
}
input[type="number"] {
    padding: 5px;
    width: 100px;
}
button {
    padding: 5px 5px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(13, 234, 120);
}
.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
.footer {
    text-align: center;
}
}